body#inicio {
    background-image: url("img/capa.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  
    width: 100%;
    height: 100vh;
  }
  .form-container{
    max-width: 350px;
    padding: 1rem;
  }
  html,body{
    height: 100%;
  }
  .imagem-login{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }